<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
	<property name="LOG_HOME" value="/Users/thobson/Library/Logs" />
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <!-- To enable JMX Management -->
    <jmxConfigurator/>
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/petclinic.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	      <!-- daily rollover -->
	      <fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
	
	      <!-- keep 30 days' worth of history -->
	      <maxHistory>30</maxHistory>
	    </rollingPolicy>
	    <encoder>
            <pattern>%date LogLevel=%level; thread=[%thread]; sessionId=%X{sessionId}; requestId=%X{requestId}; category=%logger; ipAddress=%X{ipAddress}; user=%X{principal}; requestUri=%X{req.requestURI}; userAgent=%X{req.userAgent}; %msg%n</pattern>
    	</encoder>
    </appender>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date LogLevel=%level; thread=[%thread]; sessionId=%X{sessionId}; requestId=%X{requestId}; category=%logger; ipAddress=%X{ipAddress}; user=%X{principal}; requestUri=%X{req.requestURI}; userAgent=%X{req.userAgent}; %msg%n</pattern>
        </encoder>
    </appender>

	<!--<logger name="org.hibernate" level="debug"/> -->
    <logger name="org.springframework.samples.petclinic" level="info"/>
         
    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="FILE" />
    </root>
</configuration>
